@{
    ViewBag.Title = "deneme";
}

@section scripts
{

    <script type="text/javascript">
    </script>

}
<link href="~/MyQuotesExtensions/popup.css" rel="stylesheet" />
<style type="text/css">
</style>
<div id="MyQuotes" class="reset-this MyQuotesform">
    <h3 class="reset-this">Save to Selected Quotes</h3> <form class="reset-this login-form">

        <div class="reset-this"> <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="reset-this" id="myQuotesText"></textarea></div> <div class="reset-this" id="MyQuotesOwnerWrapper"> <img class="reset-this" src="~/MyQuotesExtensions/loading.gif" id="MyQuotesOwnerLoading" /> <input class="reset-this" type="text" id="MyQuotesOwner" /> </div>
        <div class="reset-this">
            <button class="reset-this" id="MyQuotesSave" type="button">Save</button>
            <button id="MyQuotesCancel" class="reset-this" type="button">Cancel</button>
        </div> <p class="reset-this MyQuotesmessage">Kaydedildi</p>
    </form>
</div>