@{
    ViewBag.Title = "Home Page";
}
<div class="homeWrapper" ng-controller="HomeController">

    <div class="row">

        <div class="col-md-7">

            <img src="http://placehold.it/650x500" />
        </div>
        <div class="col-md-5">
            <div class="jumbotron text-center">

                <h2>Giriş yap</h2>
                <hr />
                <p>Alıntı cümlelerini hemen kaydetmeye başla</p>
                @using (Html.BeginForm("FacebookLogin", "Home", FormMethod.Post, new { @id = "FacebookLoginForm" }))
                {
                    <button type="submit" style="border:none;background:none;">
                        <img src="@Url.Content("~/Content/Pictures/facebook-icon.png")" />
                    </button>
                }
            </div>
        </div>
    </div>
</div>